<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.jqsoft.integration.platform.mapper.TaskInstanceMapper">







    <select id="queryTaskInstanceListPaging" resultType="net.jqsoft.integration.platform.model.entity.TaskInstance">
        select
        instance.id as id , instance.name as name ,instance.task_type as taskType,instance.process_instance_id as processInstanceId , instance.task_code ,
        instance.first_submit_time as firstSubmitTime  , instance.submit_time as submitTime, instance.start_time as startTime , instance.end_time  as endTime,
        instance.host as host , instance.execute_path as executePath, instance.log_path as logPath , instance.state  as state,
        process.name as processInstanceName, project.name as projectName
        from t_ds_task_instance instance
        left join t_ds_task_definition_log define on define.code=instance.task_code and define.version=instance.task_definition_version
        left join t_ds_process_instance process on process.id=instance.process_instance_id
        left join t_ds_project project on project.code=define.project_code
        where 1 =1
        <if test="projectName != null and projectName != ''">
            and project.name like concat('%', #{projectName}, '%')
        </if>
        <if test="processInstanceName != null and processInstanceName != ''">
            and process.name like concat('%', #{processInstanceName}, '%')
        </if>
        <if test="taskInstanceName != null and taskInstanceName != ''">
            and instance.name like concat('%', #{taskInstanceName}, '%')
        </if>

        order by instance.start_time desc
    </select>

</mapper>